<style>
  #customize {
    padding: 4rem 1rem;
  }

  #row {
    padding-right: .5rem;
  }

  #column {
    padding-left: .5rem;
  }
</style>

<pbd-layout-template id="template" label="Grid Layout" layout-tag="pb-grid-layout">
  <section id="customize" layout="row" slot="customize">
    <!-- TODO: <form> -->
    <mk-text-input
        id="row"
        flex
        init-value="5"
        label="Row count"
        type="number"
    ></mk-text-input>
    <mk-text-input
        id="column"
        flex
        init-value="4"
        label="Column count"
        type="number"
    ></mk-text-input>
  </section>

  <p mk-body-1 slot="details">
    Grid layout lets you place Zones in a grid. The grid always fill the parent's container and the
    size of each cell is always equally divided within the grid.
  </p>
</pbd-layout-template>
