<style>
  #addButtonContainer {
    margin-top: 4rem;
  }

  #previews {
    flex-wrap: wrap;
    height: 16rem;
  }

  #display {
    height: 16rem;
  }
</style>

<pbd-documentation-template id="template">
  <section slot="content">
    <section
        flex-align="center"
        flex-justify="center"
        id="previews"
        layout="row"
    >
      <!-- #content -->
    </section>

    <hr>

    <section id="editors" flex-justify="center" layout="row">
      <!-- #content -->
    </section>

    <div id="addButtonContainer">
      <mk-text-icon-button id="addbutton" label="Add piece"></mk-text-icon-button>
    </div>
  </section>
  <section slot="details">
    <slot name="details"></slot>
  </section>
</pbd-documentation-template>
