<style>
</style>

<pbd-documentation-template id="template">
  <section id="rootContent" layout="column" slot="content">
    <mk-button id="selectedArea" is-secondary>
      <mk-line-layout id="selectedAreaLabel"></mk-line-layout>
    </mk-button>
    <mk-overlay-layout id="selectedAreaOverlay" target-id="selectedArea">
      <!-- #content -->
    </mk-overlay-layout>
    <mk-button id="addButton">
      <mk-line-layout>Add region</mk-line-layout>
    </mk-button>
  </section>
  <section slot="details">
    <slot name="details"></slot>
  </section>
</pbd-documentation-template>